{% extends "images/00_base.html" %}

{% block content %}
<ul>
    {% for entry in entries %}
    <li class="dir"><a href="{{ entry }}/">{{ entry }}</a></li>
    {% endfor %}
</ul>
<hr>
<p>
    This is a directory listing of the official
    <a href="https://postmarketos.org">postmarketOS</a> images. If you know
    what you are doing, you can use this page to select specific images to
    download and install.
    <br><br>
    Images for EOL releases are deleted after some time, you can build them
    yourself with
    <a href="https://wiki.postmarketos.org/wiki/Pmbootstrap">pmbootstrap</a>.
    <br><br>
    Find important information about the images on the
    <a href="https://postmarketos.org/download/">download</a> page.
</p>
{% endblock %}}
